[core]
	editor = vim
[user]
	name = Nanozuki Crows
	email = nanozuki.crows@gmail.com
[diff]
	tool = vimdiff
[alias]
    st = status
	df = difftool
    ci = commit
    co = checkout
    rb = rebase -i
    aa = add .
