#!/usr/bin/env fish
source ./utils.fish

#{{if eq .chezmoi.os "darwin" -}}
set -lx rime_frontend fcitx5-rime
#{{end}}
bash $XDG_DATA_HOME/plum/rime-install :preset
bash $XDG_DATA_HOME/plum/rime-install prelude
bash $XDG_DATA_HOME/plum/rime-install essay
bash $XDG_DATA_HOME/plum/rime-install luna-pinyin
bash $XDG_DATA_HOME/plum/rime-install double-pinyin
bash $XDG_DATA_HOME/plum/rime-install emoji
bash $XDG_DATA_HOME/plum/rime-install emoji:customize:schema=luna-pinyin
bash $XDG_DATA_HOME/plum/rime-install emoji:customize:schema=double-pinyin
