#!/usr/bin/env fish
source ./utils.fish

#{{if eq .chezmoi.os "darwin" -}}
pip3 install -U pynvim
npm -g update neovim
npm -g install neovim
npm -g install graphql-language-service-cli
npm -g install vim-language-server
#{{else}}
sudo npm -g update neovim
sudo npm -g install neovim
sudo npm -g install graphql-language-service-cli
sudo npm -g install vim-language-server
#{{end}}
