#!/usr/bin/env fish
source ~/.local/share/chezmoi/utils.fish

#{{if eq .chezmoi.os "darwin" -}}
brew_install squirrel
#{{else}}
paru_install fcitx5-rime
#{{end}}

if not test -d $XDG_DATA_HOME/plum
    git clone --depth 1 https://github.com/rime/plum.git $XDG_DATA_HOME/plum
end
sync_rime_schema
