#!/usr/bin/env fish
source ~/.local/share/chezmoi/utils.fish

### golang
setUx GOPATH $XDG_DATA_HOME/go
add_path $GOPATH/bin
#{{if eq .chezmoi.os "darwin"}}
brew_install go gopls golangci-lint
#{{else}}
paru_install go gopls golangci-lint
#{{end}}

# golang utils
go install github.com/davidrjenni/reftools/cmd/fillstruct@latest 
go install golang.org/x/tools/cmd/goimports@latest 
go install github.com/fatih/gomodifytags@latest 
go install github.com/segmentio/golines@latest
go install github.com/cweill/gotests/...@latest

go install github.com/google/wire/cmd/wire@latest
go install github.com/go-swagger/go-swagger/cmd/swagger@latest
go install github.com/nametake/golangci-lint-langserver@latest

go install google.golang.org/protobuf/cmd/protoc-gen-go@latest 
go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest 
go install github.com/golang/protobuf/{proto,protoc-gen-go}@latest

### rust
setUx CARGO_HOME $XDG_DATA_HOME/cargo
setUx RUSTUP_HOME $XDG_DATA_HOME/rustup
add_path $CARGO_HOME/bin
if not type -q rustup
    echo "install rustup"
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
end
#{{if eq .chezmoi.os "darwin"}}
brew_install rust-analyzer
#{{else}}
paru_install rust-analyzer
#{{end}}

### lua
#{{if eq .chezmoi.os "darwin"}}
macos_sync_lua_lsp
#{{else}}
paru lua-language-server
#{{end}}
cargo install stylua

### node (lts)
setUx NPM_CONFIG_USERCONFIG $XDG_CONFIG_HOME/npm/npmrc
#{{if eq .chezmoi.os "darwin" }}
brew_install node@16
brew link --overwrite --force node@16
#{{else}}
paru_install nodejs-lts-gallium npm
#{{end}}
npm config set prefix      $XDG_DATA_HOME/npm
npm config set cache       $XDG_CACHE_HOME/npm
npm config set tmp         $XDG_RUNTIME_DIR/npm
npm config set init-module $XDG_CONFIG_HOME/npm/config/npm-init.js

add_path $XDG_DATA_HOME/npm/bin

function npm_install
#{{if eq .chezmoi.os "darwin" }}
    npm -g install $argv
#{{else}}
    sudo npm -g install $argv
#{{end}}
end
npm_install typescript typescript-language-server @tailwindcss/language-server

### zig
#{{if eq .chezmoi.os "darwin"}}
brew_install zig --HEAD
macos_sync_zls
#{{else}}
paru_install zig zls-bin
#{{end}}

### deno
#{{if eq .chezmoi.os "darwin" }}
brew_install deno
#{{else}}
paru_install deno
#{{end}}

### terraform
#{{if eq .chezmoi.os "darwin" }}
brew_install terraform terraform-ls
#{{else}}
paru_install terraform terraform-ls
#{{end}}

### other langs and lsps
npm_install graphql-language-service-cli vim-language-server yaml-language-server
