#!/usr/bin/env fish
source ~/.local/share/chezmoi/utils.fish

### fish
# watch fish_plugins. hash: {{ include "./dot_config/fish/fish_plugins" | sha256sum }}
if not type -q fisher
    echo "install fisher"
    curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end
fisher update
source $config/fish/config.fish
#{{if eq .chezmoi.os "darwin" }}
brew_install starship
#{{else}}
paru_install starship
#{{end}}

### git
if not test -f $XDG_CONFIG_HOME/git/config_local
    touch $XDG_CONFIG_HOME/git/config_local
end

### tmux
#{{if eq .chezmoi.os "darwin" }}
brew_install tmux
#{{else}}
paru_install tmux
#{{end}}

### kitty
#{{if eq .chezmoi.os "darwin" }}
brew_install kitty
#{{else}}
paru_install kitty
#{{end}}
if not test -f $XDG_CONFIG_HOME/kitty/local.conf
    touch $XDG_CONFIG_HOME/kitty/local.conf
end

### wezterm
#{{if eq .chezmoi.os "darwin" }}
brew_install --cask wezterm-nightly --no-quarantine
#{{else}}
paru_install wezterm
#{{end}}
