* {
  border: none;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  min-height: 0px;
}

window#waybar {
  border-bottom: 1px solid #9893a5; 
  background: #f2e9de;
}

#workspaces {
  margin-left: 9px; /* sway gap's outer + inner */
  border-left: 1px solid #9893a5; 
  margin-top: 4px;
  margin-bottom: 4px;
}

#workspaces button {
  color: #575279;
  border-right: 1px solid #9893a5; 
  border-bottom: 1px solid #9893a5; 
  border-top: 1px solid #9893a5; 
  border-radius: 0;
  padding-left: 4px;
  padding-right:4px;
  background: #fffaf3;
}

#workspaces button.focused {
  color: #faf4ed;
  background: #b4637a;
}

#workspaces button:hover {
  color: #575279;
  background: #ea9d34;
  transition: none;
  box-shadow: none;
}

#mode,#window,#pulseaudio,#network,#cpu,#memory,#temperature,#clock,#tray {
  border: 1px solid #9893a5; 
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: #575279;
  background: #fffaf3;
}

#custom-dunst {
  border: 1px solid #9893a5; 
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 12px;
  color: #575279;
  background: #fffaf3;
}

#tray {
  margin-right: 9px; /* sway gap's outer + inner */
}
