# vim:ft=kitty

##: Fonts

font_family      JetBrainsMono Nerd Font
bold_font        auto
italic_font      auto
bold_italic_font auto
font_size        {{.term.font_size}}

##: Cursor customization

cursor_shape          block
cursor_blink_interval 0

##: Scrollback

scrollback_lines 65535

##: Mouse

##: Performance tuning

##: Terminal bell

enable_audio_bell no

##: Window layout

enabled_layouts      Grid,Tall,Fat
window_padding_width 2

##: Tab bar

tab_bar_edge top
tab_bar_style fade
tab_fade 0.5 1
tab_title_template "{index}: {title}"

##: Color scheme

include ./themes/rose-pine-dawn.conf

##: Advanced

##: OS specific tweaks

macos_titlebar_color background
wayland_titlebar_color background

#: Keyboard shortcuts

#: Scrolling
#: Window management
#: Tab management
map cmd+1 goto_tab 1
map cmd+2 goto_tab 2
map cmd+3 goto_tab 3
map cmd+4 goto_tab 4
map cmd+5 goto_tab 5
map cmd+6 goto_tab 6
map cmd+7 goto_tab 7
map cmd+8 goto_tab 8
map cmd+9 goto_tab 9
#: Layout management
#: Font sizes
#: Select and act on visible text
#: Miscellaneous
# Reload config
map ctrl+shift+c load_config_file
