mixed-port: 7890
# ipv6: true
allow-lan: true
unified-delay: false
tcp-concurrent: true
external-controller: 0.0.0.0:9090

geodata-mode: true
geox-url:
  geoip: "https://mirror.ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip-lite.dat"
  geosite: "https://mirror.ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat"
  mmdb: "https://mirror.ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb"
  asn: "https://mirror.ghproxy.com/https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"

find-process-mode: strict
global-client-fingerprint: chrome

tun:
  enable: true
  stack: mixed
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true
  device: "utun1"

dns:
  enable: true
  # ipv6: true
  respect-rules: true
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  listen: 0.0.0.0:10053
  nameserver:
    # - "2402:4e00::"
    - 119.29.29.29
    # - 2400:3200::1
    - 223.5.5.5
    # - 2606:4700:4700::1111
    - 1.1.1.1
    # - https://120.53.53.53/dns-query
    # - https://223.5.5.5/dns-query
  proxy-server-nameserver:
    - https://1.1.1.1
    # - https://doh.pub/dns-query
    # - https://dns.alidns.com
  # nameserver-policy:
  #   "geosite:cn,private":
  #     - https://120.53.53.53/dns-query
  #     - https://223.5.5.5/dns-query
  #   "geosite:geolocation-!cn":
  #     - "https://dns.cloudflare.com/dns-query"
  #     - "https://dns.google/dns-query"

proxies:
  - name: "hy-la"
    type: hysteria2
    server: 154.17.14.23
    port: 34989
    password: "N@L-Q9CMt!VP"
    sni: hy-la.crows.moe
    skip-cert-verify: false
  - name: "hy-la-2"
    type: hysteria2
    server: 154.26.188.57
    port: 53583
    password: "FATW.tymfE6jUJb!"
    sni: hy-la2.crows.moe
    skip-cert-verify: false
  - name: "ss-la"
    type: ss
    server: 154.17.14.23
    port: 60058
    cipher: 2022-blake3-aes-128-gcm
    password: "F7zYiRxu5g7j1m1s60PSQQ=="
    udp: true
    smux:
      enabled: true
      padding: true
  - name: "ss-la-2"
    type: ss
    server: 154.26.188.57
    port: 43639
    cipher: 2022-blake3-aes-128-gcm
    password: "K+G+GuevuSGfVCocWVDtgA=="
    udp: true
    smux:
      enabled: true
      padding: true

proxy-groups:
  - name: "hy"
    type: url-test
    proxies:
      - hy-la
      - hy-la-2
    url: "http://www.gstatic.com/generate_204"
    interval: 300
  - name: "ss"
    type: url-test
    proxies:
      - ss-la
      - ss-la-2
    url: "http://www.gstatic.com/generate_204"
    interval: 300
  - name: "proxy"
    type: fallback
    proxies:
      - hy
      - ss
    url: "http://www.gstatic.com/generate_204"
    interval: 300

rules:
  - GEOIP,lan,DIRECT,no-resolve
  - SRC-IP-CIDR,192.168.1.32/32,DIRECT
  - SRC-IP-CIDR,192.168.1.33/32,DIRECT
  - DOMAIN-KEYWORD,google,proxy
  - DOMAIN-KEYWORD,localhost,DIRECT
  - DOMAIN-KEYWORD,syncthing,DIRECT
  - DOMAIN-SUFFIX,ntp.org,DIRECT
  - DOMAIN-SUFFIX,steamcontent.com,DIRECT
  - DOMAIN-SUFFIX,steamserver.net,DIRECT
  - DOMAIN-KEYWORD,leetcode,proxy
  - DOMAIN-KEYWORD,linkedin,proxy
  - DOMAIN-SUFFIX,mikanani.me,proxy
  - DOMAIN-SUFFIX,exhentai.org,proxy
  - DOMAIN-SUFFIX,hath.network,proxy
  - DOMAIN-SUFFIX,hcaptcha.com,proxy
  - DOMAIN-SUFFIX,sentry.io,proxy
  - GEOSITE,CN,DIRECT
  - GEOIP,CN,DIRECT
  - MATCH,proxy
