mixed-port: 7890
# ipv6: true
allow-lan: true
unified-delay: false
tcp-concurrent: true
external-controller: 0.0.0.0:9090

geodata-mode: true
geox-url:
  geoip: "https://mirror.ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip-lite.dat"
  geosite: "https://mirror.ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat"
  mmdb: "https://mirror.ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb"
  asn: "https://mirror.ghproxy.com/https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"

find-process-mode: strict
global-client-fingerprint: chrome

tun:
  enable: true
  stack: mixed
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true
  device: "utun1"

dns:
  enable: true
  # ipv6: true
  respect-rules: true
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  listen: 0.0.0.0:10053
  nameserver:
    # - "2402:4e00::"
    - 119.29.29.29
    # - 2400:3200::1
    - 223.5.5.5
    # - 2606:4700:4700::1111
    - 1.1.1.1
    # - https://120.53.53.53/dns-query
    # - https://223.5.5.5/dns-query
  proxy-server-nameserver:
    - https://1.1.1.1
    # - https://doh.pub/dns-query
    # - https://dns.alidns.com
  # nameserver-policy:
  #   "geosite:cn,private":
  #     - https://120.53.53.53/dns-query
  #     - https://223.5.5.5/dns-query
  #   "geosite:geolocation-!cn":
  #     - "https://dns.cloudflare.com/dns-query"
  #     - "https://dns.google/dns-query"

proxies:
  - name: "dmit-la"
    type: ss
    server: 154.17.8.183
    port: 32103
    cipher: chacha20-ietf-poly1305
    password: "CrowsShadow"
    udp: true
    plugin: obfs
    plugin-opts:
      mode: http
      host: download.windowsupdate.com
  # - name: "dmit-jp"
  #   type: ss
  #   server: 45.88.193.112
  #   port: 32103
  #   cipher: chacha20-ietf-poly1305
  #   password: "CrowsShadow"
  #   udp: true
  #   plugin: obfs
  #   plugin-opts:
  #     mode: http
  #     host: download.windowsupdate.com

proxy-groups:
  - name: "proxy"
    type: fallback
    proxies:
      # - dmit-jp
      - dmit-la
    url: "http://www.gstatic.com/generate_204"
    interval: 300

rules:
  - GEOIP,lan,DIRECT,no-resolve
  - SRC-IP-CIDR,192.168.1.32/32,DIRECT
  - SRC-IP-CIDR,192.168.1.33/32,DIRECT
  - DOMAIN-KEYWORD,google,proxy
  - DOMAIN-KEYWORD,localhost,DIRECT
  - DOMAIN-KEYWORD,syncthing,DIRECT
  - DOMAIN-SUFFIX,ntp.org,DIRECT
  - DOMAIN-SUFFIX,steamcontent.com,DIRECT
  - DOMAIN-SUFFIX,steamserver.net,DIRECT
  - DOMAIN-KEYWORD,leetcode,proxy
  - DOMAIN-KEYWORD,linkedin,proxy
  - DOMAIN-KEYWORD,nixos,proxy
  - DOMAIN-SUFFIX,mikanani.me,proxy
  - DOMAIN-SUFFIX,exhentai.org,proxy
  - DOMAIN-SUFFIX,hath.network,proxy
  - DOMAIN-SUFFIX,hcaptcha.com,proxy
  - DOMAIN-SUFFIX,sentry.io,proxy
  - GEOSITE,CN,DIRECT
  - GEOIP,CN,DIRECT
  - MATCH,proxy
