# vi: ft=fish
function update-env
    ### package mangager
    #{{if eq .chezmoi.os "darwin"}}
    brew update && brew upgrade && brew --cask upgrade && brew cleanup
    #{{else}}
    paru -Syu --noconfirm
    sudo flatpak upgrade
    #{{end}}

    ### terminals
    fisher update
    #{{if eq .chezmoi.os "darwin"}}
    brew upgrade --cask wezterm-nightly --no-quarantine --greedy-latest
    #{{end}}

    ### languages
    ## golang
    # go dev tools
    go install github.com/josharian/impl@latest
    go install github.com/kyoh86/richgo@latest
    go install github.com/davidrjenni/reftools/cmd/fillstruct@latest
    go install mvdan.cc/gofumpt@latest
    go install github.com/davidrjenni/reftools/cmd/fixplurals@latest
    go install golang.org/x/tools/cmd/goimports@latest
    go install github.com/segmentio/golines@latest
    go install github.com/davidrjenni/reftools/cmd/fillswitch@latest
    go install github.com/onsi/ginkgo/ginkgo@latest
    go install github.com/cweill/gotests/...@latest
    go install github.com/go-delve/delve/cmd/dlv@latest
    go install github.com/fatih/gomodifytags@latest
    go install golang.org/x/tools/cmd/gorename@latest
    go install github.com/koron/iferr@latest
    go install github.com/nametake/golangci-lint-langserver@latest
    # some go generated tools
    go install github.com/google/wire/cmd/wire@latest
    go install github.com/go-swagger/go-swagger/cmd/swagger@latest
    go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
    go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
    go install github.com/golang/protobuf/{proto,protoc-gen-go}@latest

    ## rust
    rustup update

    ## lua
    cargo install stylua

    ## node
    #{{if eq .chezmoi.os "darwin" }}
    npm -g upgrade
    #{{else}}
    sudo npm -g upgrade
    #{{end}}

    ## zig
    #{{if eq .chezmoi.os "darwin"}}
    brew reinstall zig
    macos_sync_zls
    #{{end}}

    ### neovim
    #{{if eq .chezmoi.os "darwin" }}
    pip3 install -U pynvim
    #{{end}}

    ### rime
    #{{if eq .chezmoi.os "linux"}}
    set -lx rime_frontend fcitx5-rime
    #{{end}}
    sync_rime_schema
end
