#main-window[titlepreface*="| "] #sidebar-main {
  display: none;
}

#main-window[titlepreface*="| "] #sidebar-box {
  padding: 0 !important;
}

#main-window[titlepreface*="| "] #sidebar {
  border-radius: 0 !important;
}

#main-window[titlepreface*="| "] #sidebar-splitter {
  width: 0 !important;
}
