name: update-flake-lock
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    # runs weekly at 2:00am of Saturday in UTC+8
    - cron: "0 19 * * 5"

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        id: update
        with:
          pr-title: "Update flake.lock" # Title of PR to be created
      - name: Merge flake.lock PR
        run: gh pr merge --rebase --delete-branch --auto ${{ steps.update.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ github.token }}
